RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L,QSA]

RewriteRule ^objects/.*$ - [F,L]

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

<Files objects/objects.php>
    Order Allow,Deny
    Deny from all
</Files>

<Files objects/objects_chart.php>
    Order Allow,Deny
    Deny from all
</Files> 